src/Application/bin/
src/Application/obj/
src/Domain/bin/
src/Domain/obj/
src/Infrastructure/bin/
src/Infrastructure/obj/
src/API/bin/
src/API/obj/Debug/
tests/
src/API/obj/
src/API/API/obj/
src/API/API/bin/
.vs/ProjectEvaluation/todo.metadata.v2
.vs/
src/Web/bin/
src/Web/obj/
Application.Tests/bin/
Application.Tests/obj/Application.Tests.csproj.nuget.dgspec.json
Application.Tests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Application.Tests/obj/
