src/Application/bin/
src/Application/obj/
src/Domain/bin/
src/Domain/obj/
src/Infrastructure/bin/
src/Infrastructure/obj/
src/API/bin/
src/API/obj/Debug/
tests/
src/API/obj/
src/API/API/obj/
src/API/API/bin/
.vs/ProjectEvaluation/todo.metadata.v2
.vs/
src/Web/bin/
src/Web/obj/
